@font-face {
  font-family: 'governorregular';
  src: url("../fonts/governor-webfont.woff2") format('woff2'), url("../fonts/governor-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1,
h2 {
  font-family: 'governorregular';
  color: #ffd000;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.9rem;
  width: 100%;
}
p,
ul,
li {
  clear: both;
  font-size: 1rem;
}
ul {
  padding: 0;
}
h3 a {
  text-decoration: none;
  color: #000;
  position: relative;
}
h3 a::after {
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background-color: #ffe880;
  height: 12px;
  position: absolute;
  left: 0;
  top: 8px;
  transition: width 150ms ease-out;
}
h3 a:hover::after {
  width: 100%;
}
body {
  float: left;
  display: inline-block;
  background-color: #ffede6;
  background-color: #ffede6;
  background: -webkit-linear-gradient(-135deg, #ffede6, #ffdcce);
  background: linear-gradient(-135deg, #ffede6, #ffdcce);
  width: 100%;
}
body * {
  box-sizing: border-box;
}
body .toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.App {
  position: relative;
  min-height: 100vh;
  margin: auto;
  float: left;
  display: inline-block;
  width: 100%;
  padding: 3.5rem 4.75rem 2.25rem 2.5rem;
}
.App.resume {
  border-right: 5px solid #ffd000;
  max-width: 1140px;
  background-color: #fff;
}
.App * {
  line-height: 1.75rem;
  display: inline-block;
  float: left;
}
.App i {
  float: initial;
}
.App h1 {
  line-height: initial;
  float: left;
}
.App nav {
  float: right;
  position: fixed;
  z-index: 2;
  right: 1.75rem;
}
.App nav button {
  background-color: transparent;
  border: none;
  color: #ffd000;
  font-size: 3rem;
  font-family: initial;
  outline: none;
  line-height: 1.1;
  height: 36px;
  width: 36px;
  padding: 0px 0px;
  cursor: pointer;
  display: none;
}
.App nav.open {
  margin-right: 2.25rem;
}
.App nav section h1 {
  z-index: 1;
  position: relative;
}
.App nav section .background {
  position: absolute;
  background-color: #ffe880;
  height: 0px;
  width: 0px;
  left: 18px;
  top: 18px;
  z-index: 0;
  border-radius: 100%;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}
.App nav section .background ul {
  position: relative;
  left: -260px;
  top: 22px;
  transition: all 200ms ease-in-out;
}
.App nav section .background ul a {
  text-decoration: none;
  color: #fff;
}
.App nav section.open {
  position: fixed;
  margin-right: 4.75rem;
}
.App nav section.open h1 button {
  color: #fff;
}
.App nav section.open .background {
  left: -1482px;
  top: -1482px;
  height: 3000px;
  width: 3000px;
}
.App nav section.open ul {
  left: 1252px;
  top: 1522px;
}
.App #content {
  margin-top: 6rem;
}
.App #content > div {
  float: left;
}
.App #content #main {
  width: 66.66666666666667%;
  padding-right: 1rem;
}
.App #content #main section {
  width: 100%;
}
.App #content #main section:first-of-type article:first-of-type .date::after {
  content: "";
  position: absolute;
  height: 3.25rem;
  width: 4px;
  margin-left: 14px;
  margin-top: -0.25rem;
  background-color: #ffd000;
}
.App #content #main section h2 {
  width: 25%;
  text-align: right;
  margin-left: -1rem;
}
.App #content #main section article {
  width: 100%;
  margin-bottom: 1.75rem;
}
.App #content #main section article .date {
  width: 25%;
  padding-right: 1rem;
}
.App #content #main section article .date p {
  text-align: right;
  width: 100%;
}
.App #content #main section article .body {
  float: right;
  width: 74%;
  padding-left: 1rem;
}
.App #content #main section article .body h3 {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}
.App #content #main section article .body h3::before {
  content: "";
}
.App #content #main section article .body .description a {
  float: initial;
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  position: relative;
}
.App #content #main section article .body .description a::after {
  width: 100%;
  content: "";
  mix-blend-mode: darken;
  background-color: #ffe880;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: 4px;
}
.App #content #main section article .body .description a:hover::after {
  width: 100%;
}
.App #content #main section article .body.more {
  text-align: center;
}
.App #content #side {
  width: 33.333333333333336%;
  padding-left: 1rem;
}
.App #content #side section {
  margin-bottom: 1.5rem;
}
.App #content #side section ul,
.App #content #side section p {
  padding-top: 0.25rem;
}
.App #content #side section ul:first-of-type,
.App #content #side section p:first-of-type {
  padding: 0;
}
.App #content #side section a {
  float: initial;
  color: #000;
  text-decoration: none;
}
.App #content #side section:last-of-type {
  margin-top: 11.75rem;
}
footer {
  width: 100%;
  padding-top: 4rem;
}
footer .main {
  float: left;
  width: 66.66666666666667%;
}
footer .main a {
  padding-left: 1rem;
  width: 75%;
  float: right;
  text-decoration: none;
  color: #000;
}
footer .side {
  float: right;
}
.linkTo {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #c05968;
  position: fixed;
  z-index: 2;
  text-decoration: none;
  bottom: 1rem;
  line-height: 1;
  border-top: 2px solid #c05968;
  padding-top: 1rem;
  cursor: pointer;
}
.linkTo:hover::after {
  background-color: #ff006a;
}
.linkTo.l {
  left: 2rem;
}
.linkTo.l:hover::after {
  width: 110%;
}
.linkTo.r {
  right: 2rem;
}
.linkTo.r:hover::after {
  width: 100%;
}
.linkTo::after {
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background-color: #f2cdca;
  height: 20px;
  position: absolute;
  left: 0;
  top: 30px;
  pointer-events: none;
  transition: width 150ms ease-out;
}
.linkTo.g {
  position: relative;
  display: inline-block;
  bottom: 0;
  font-size: 1rem;
  padding-top: 1.2rem;
}
.linkTo.g::after {
  left: 25px;
  height: 18px;
  top: 25px;
  transition: width 55ms ease-out;
}
.linkTo.g.r {
  float: right;
  right: 0;
}
.linkTo.g.r:hover::after {
  width: 60%;
}
.linkTo.g.l {
  float: left;
  left: 0;
}
.linkTo.g.l:hover::after {
  width: 80%;
}
@media (max-width: 1400px) {
  body .App.resume button {
    display: block;
    color: #c05968;
  }
  body .App.resume a.linkTo.r {
    display: none;
  }
}
@media (max-width: 1139px) {
  body .App {
    border-width: 4px;
  }
}
@media (max-width: 1138px) {
  body .App {
    border-width: 3px;
  }
}
@media (max-width: 1137px) {
  body .App {
    border-width: 2px;
  }
}
@media (max-width: 1136px) {
  body .App {
    border-width: 1px;
  }
}
@media (max-width: 1135px) {
  body {
    padding-bottom: 10rem !important;
  }
  body .App {
    border-width: 0;
  }
  body .App.resume button {
    color: #ffd000;
    text-shadow: none;
  }
  body .App #content #main {
    width: 100%;
  }
  body .App #content #side {
    float: right;
    width: 75%;
  }
  body .App #content #side section {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: translateX(-100%);
    padding-right: 2rem;
  }
  body .App #content #side section:last-of-type {
    margin-top: initial;
  }
}
@media (max-width: 780px) {
  body .App #content #main section h2 {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  body .App #content #main section article .body,
  body .App #content #main section article .date {
    width: 100%;
  }
  body .App #content #side {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: none;
  }
}
@media only screen and (max-device-width: 667px) {
  body .App {
    padding: 1.5rem 3.75rem 2.25rem 1.5rem;
  }
}
.toggleType {
  display: none;
  float: left;
  position: absolute;
  right: 4rem;
  top: 4rem;
  border: 2px solid #c05968;
  color: #c05968;
  width: 240px;
}
.toggleType h3 {
  font-family: 'governorregular';
  margin: 0 auto;
  display: block;
  float: initial;
  padding: 1.5rem 0;
  text-align: center;
  border-bottom: 2px solid #c05968;
}
.toggleType h3::before {
  content: "";
}
.toggleType fieldset {
  border: none;
  margin: 0;
}
.toggleType fieldset input {
  display: none;
}
.toggleType fieldset input:checked + label::after {
  width: 106%;
  background-color: #ff006a;
}
.toggleType fieldset label {
  clear: both;
  float: left;
  font-size: 1.3rem;
  font-family: 'governorregular';
  line-height: 2;
  position: relative;
  cursor: pointer;
}
.toggleType fieldset label:hover::after {
  width: 106%;
}
.toggleType fieldset label::after {
  pointer-events: none;
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background-color: #ffc6c1;
  height: 9px;
  position: absolute;
  left: -3%;
  top: 14px;
  transition: width 100ms ease-out;
}
#galleryIndex {
  width: 670px;
  float: none;
  margin: 0rem auto 10rem;
  display: table;
}
#galleryIndex li,
#galleryIndex li a {
  text-decoration: none;
  line-height: 1.1;
  font-size: 5rem;
  font-weight: bold;
  color: #c05968;
  list-style-type: none;
  cursor: pointer;
  position: relative;
}
#galleryIndex li::after,
#galleryIndex li a::after {
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background-color: #ff006a;
  height: 30px;
  position: absolute;
  left: -3%;
  top: 30px;
  pointer-events: none;
  transition: width 150ms ease-out;
}
#galleryIndex li:hover::after,
#galleryIndex li a:hover::after {
  width: 106%;
}
footer.index {
  color: #c05968;
  width: 670px;
  bottom: 1rem;
  margin-left: -1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
footer.index p {
  font-size: 0.8rem;
  line-height: 1.2;
}
.gallery .singleHead {
  display: inline-block;
  width: 100%;
  height: 100vh;
}
.gallery nav {
  width: 100%;
  height: 7vh;
  float: left;
  padding: 0.6rem 1rem 0;
}
.gallery nav h2 {
  font-size: 2rem;
  font-family: "adobe-garamond-pro", serif;
  color: #c05968;
  float: left;
  margin-left: 5rem;
  border-top: 2px solid #c05968;
  line-height: 1.4;
}
.gallery .tags {
  float: none;
  margin: auto;
  display: block;
  list-style-type: none;
}
.gallery .tags li {
  padding: 0.3rem 0.4rem;
  margin: 2px;
  background-color: #c05968;
  color: #ffe3d8;
  float: left;
  clear: none;
  cursor: pointer;
  position: relative;
}
.gallery .tags li::selection {
  background-color: transparent;
}
.gallery .tags li::after {
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background-color: #ff006a;
  height: 19px;
  position: absolute;
  left: -2px;
  top: 12px;
  transition: width 30ms ease-out;
}
.gallery .tags li:active::after {
  width: 100%;
}
.gallery .content {
  margin: auto;
  color: #c05968;
  margin-top: 5rem;
}
.gallery .content h1,
.gallery .content h2,
.gallery .content h3 {
  font-family: "adobe-garamond-pro", serif;
  color: #c05968;
  display: block;
  float: none;
  margin-bottom: 1rem;
  clear: both;
}
.gallery .content h1,
.gallery .content h2 {
  margin-left: 2rem;
}
.gallery .content h1 {
  font-size: 6rem;
}
.gallery .content h2 {
  font-size: 3rem;
}
.gallery .content h3 {
  width: initial;
  margin-top: 2rem;
}
.gallery .content .block {
  padding: 1rem 6rem;
  width: 100%;
  max-width: 1140px;
  float: none;
  margin: 0 auto 1rem;
  display: table;
  border-left: 3px solid;
}
.gallery .content .block h1 {
  width: 100%;
}
.gallery .content .block.three-col .one-col {
  width: 33.333333333333336%;
  float: left;
}
.gallery .content .block.three-col .one-col h1 {
  line-height: 0.9;
  margin-left: 0;
  white-space: nowrap;
}
.gallery .content .block.three-col .two-col {
  width: 66.66666666666667%;
  float: right;
}
.gallery .content .block.three-col .two-col .one-col {
  width: 50%;
}
.gallery .content .block section,
.gallery .content .block figure {
  margin: 0;
  padding: 1rem 1rem 1rem;
  display: inline-block;
}
.gallery .content .block section img,
.gallery .content .block figure img {
  width: 100%;
}
.gallery .content .block p,
.gallery .content .block figcaption,
.gallery .content .block a {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #002b70;
}
.gallery .content .block figcaption {
  font-size: 0.9rem;
  font-style: italic;
}
.gallery .content .block p {
  text-indent: 1.5rem;
}
.gallery .content .block p em,
.gallery .content .block p a {
  position: relative;
  font-style: initial;
  text-decoration: none;
}
.gallery .content .block p em::after,
.gallery .content .block p a::after {
  content: "";
  width: 100%;
  background-color: #ffada8;
  position: absolute;
  mix-blend-mode: darken;
  left: 2px;
  top: 11px;
  height: 6px;
  transition: background-color 150ms ease-in-out;
}
.gallery .content .block p em:hover::after,
.gallery .content .block p a:hover::after {
  background-color: #f79999;
}
.gallery .content .block figcaption {
  text-align: center;
}
.gallery .content ul {
  list-style-type: none;
}
.media {
  width: 100%;
  height: 93vh;
  display: inline-block;
  background-color: #000;
  overflow-x: hidden;
  padding: 0 3rem 0 3rem;
  position: relative;
}
.media .slick-slider,
.media float left {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 3rem;
}
.media .slick-slider .slick-arrow,
.media float left .slick-arrow {
  background-color: transparent;
  z-index: 10;
  color: #fff;
  font-weight: 100;
  font-family: "adobe-garamond-pro", serif;
  font-size: 6rem;
  border: none;
  position: absolute;
  right: -3rem;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  outline: none;
  padding: 0 0 0.7rem;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.media .slick-slider .slick-arrow.slick-disabled,
.media float left .slick-arrow.slick-disabled {
  color: #444;
}
.media .slick-slider .slick-arrow:hover,
.media float left .slick-arrow:hover {
  text-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
.media .slick-slider .slick-arrow.slick-prev,
.media float left .slick-arrow.slick-prev {
  left: -3rem;
  transform: translateY(-50%) rotateY(180deg);
}
.media .slick-slider .slick-list,
.media float left .slick-list {
  height: 93%;
}
.media .slick-slider .slick-list .slick-track,
.media float left .slick-list .slick-track {
  position: absolute;
  left: 0;
  height: inherit;
  overflow-y: hidden;
}
.media .slick-slider .slick-list .slick-track .slick-slide,
.media float left .slick-list .slick-track .slick-slide {
  float: left;
  opacity: 0.7;
  transition: opacity 300ms ease-out;
  height: 100%;
}
.media .slick-slider .slick-list .slick-track .slick-slide img,
.media float left .slick-list .slick-track .slick-slide img {
  height: 93%;
  display: block;
  padding-right: 4px;
  margin: auto;
}
.media .slick-slider .slick-list .slick-track .slick-slide p,
.media float left .slick-list .slick-track .slick-slide p {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 4;
  color: #777;
  font-family: "cronos-pro-caption", sans-serif;
  font-weight: 100;
}
.media .slick-slider .slick-list .slick-track .slick-slide p span,
.media float left .slick-list .slick-track .slick-slide p span {
  margin-left: 20px;
}
.media .slick-slider .slick-list .slick-track .slick-slide.slick-active,
.media float left .slick-list .slick-track .slick-slide.slick-active {
  opacity: 1;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide,
.media float left .slick-list .slick-track .slick-slide.last-slide {
  width: 1300px;
  width: 93vw;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide:hover a,
.media float left .slick-list .slick-track .slick-slide.last-slide:hover a {
  opacity: 0.6 !important;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide h3,
.media float left .slick-list .slick-track .slick-slide.last-slide h3 {
  color: #ffede6 !important;
  font-family: "cronos-pro-caption", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide h3::before,
.media float left .slick-list .slick-track .slick-slide.last-slide h3::before {
  content: "";
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a,
.media float left .slick-list .slick-track .slick-slide.last-slide a {
  display: inline-block;
  float: left;
  width: 33.333333333333336%;
  height: 321px;
  overflow: hidden;
  padding-right: 4px;
  position: relative;
  opacity: 0.6;
  transition: opacity 100ms ease-in-out;
  cursor: pointer;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a:first-of-type,
.media float left .slick-list .slick-track .slick-slide.last-slide a:first-of-type {
  opacity: 1;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a:hover,
.media float left .slick-list .slick-track .slick-slide.last-slide a:hover {
  opacity: 1 !important;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a p,
.media float left .slick-list .slick-track .slick-slide.last-slide a p {
  line-height: 3;
  position: absolute;
  bottom: 0;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a .image,
.media float left .slick-list .slick-track .slick-slide.last-slide a .image {
  width: 100%;
  height: 285px;
  background-position: center;
  background-size: cover;
}
.media .slick-slider .slick-list .slick-track .slick-slide.last-slide a img,
.media float left .slick-list .slick-track .slick-slide.last-slide a img {
  height: initial;
  max-width: 100%;
  max-height: 285px;
  padding-right: 0;
}
.media .slick-slider .slick-dots,
.media float left .slick-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  list-style-type: none;
  margin: 0.8rem 0;
}
.media .slick-slider .slick-dots li,
.media float left .slick-dots li {
  float: left;
  clear: none;
}
.media .slick-slider .slick-dots li.slick-active button::before,
.media float left .slick-dots li.slick-active button::before {
  opacity: 1;
}
.media .slick-slider .slick-dots li button,
.media float left .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  position: relative;
}
.media .slick-slider .slick-dots li button::before,
.media float left .slick-dots li button::before {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.media .single {
  float: left;
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.media .single .slick-list {
  height: 100% !important;
}
.media .single .slick-list .slick-track {
  position: relative;
  left: initial;
}
.media .single .slick-list .slick-track .slick-slide {
  float: none;
  margin: auto;
}
