@font-face {
  font-family: 'governorregular';
  src: url("../fonts/governor-webfont.woff2") format('woff2'), url("../fonts/governor-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
h1,
h2 {
  font-family: 'governorregular';
  color: #ffd000;
}
h1,
h2,
h3,
ul,
p {
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.9rem;
  width: 100%;
}
p,
ul,
li {
  clear: both;
  font-size: 1rem;
}
ul {
  padding: 0;
}
h3 a {
  text-decoration: none;
  color: #000;
  position: relative;
}
h3 a::after {
  width: 0;
  content: "";
  mix-blend-mode: darken;
  background: #ffe880;
  height: 12px;
  position: absolute;
  left: 0;
  top: 8px;
  transition: width 150ms ease-out;
}
h3 a:hover::after {
  width: 100%;
}
body {
  float: left;
  display: inline-block;
  background: #ffede6;
  background: #ffede6;
  background: -webkit-linear-gradient(-135deg, #ffede6, #ffdcce);
  background: linear-gradient(-135deg, #ffede6, #ffdcce);
  width: 100%;
}
body * {
  box-sizing: border-box;
}
body .toggle {
  position: absolute;
  top: 0;
  right: 0;
}
.App {
  margin: auto;
  float: left;
  display: inline-block;
  width: 100%;
  padding: 3.5rem 4.75rem 2.25rem 2.5rem;
}
.App.resume {
  border-right: 5px solid #ffd000;
  max-width: 1140px;
  background: #fff;
}
.App * {
  line-height: 1.75rem;
  display: inline-block;
  float: left;
}
.App i {
  float: initial;
}
.App h1 {
  line-height: initial;
  float: left;
}
.App nav {
  float: right;
  position: fixed;
  z-index: 2;
  right: 1.75rem;
}
.App nav button {
  background: transparent;
  border: none;
  color: #ffd000;
  font-size: 3rem;
  font-family: initial;
  outline: none;
  line-height: 1.1;
  height: 36px;
  width: 36px;
  padding: 0px 0px;
  cursor: pointer;
  display: none;
}
.App nav.open {
  margin-right: 2.25rem;
}
.App nav section h1 {
  z-index: 1;
  position: relative;
}
.App nav section .background {
  position: absolute;
  background: #ffe880;
  height: 0px;
  width: 0px;
  left: 18px;
  top: 18px;
  z-index: 0;
  border-radius: 100%;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}
.App nav section .background ul {
  position: relative;
  left: -260px;
  top: 22px;
  transition: all 200ms ease-in-out;
}
.App nav section .background ul a {
  text-decoration: none;
  color: #fff;
}
.App nav section.open {
  position: fixed;
  margin-right: 4.75rem;
}
.App nav section.open h1 button {
  color: #fff;
}
.App nav section.open .background {
  left: -1482px;
  top: -1482px;
  height: 3000px;
  width: 3000px;
}
.App nav section.open ul {
  left: 1252px;
  top: 1522px;
}
.App #content {
  margin-top: 6rem;
}
.App #content > div {
  float: left;
}
.App #content #main {
  width: 66.66666666666667%;
  padding-right: 1rem;
}
.App #content #main section {
  width: 100%;
}
.App #content #main section:first-of-type article:first-of-type .date::after {
  content: "";
  position: absolute;
  height: 3.25rem;
  width: 4px;
  margin-left: 14px;
  margin-top: -0.25rem;
  background: #ffd000;
}
.App #content #main section h2 {
  width: 25%;
  text-align: right;
  margin-left: -1rem;
}
.App #content #main section article {
  width: 100%;
  margin-bottom: 1.75rem;
}
.App #content #main section article .date {
  width: 25%;
  padding-right: 1rem;
}
.App #content #main section article .date p {
  text-align: right;
  width: 100%;
}
.App #content #main section article .body {
  float: right;
  width: 75%;
  padding-left: 1rem;
}
.App #content #main section article .body h3 {
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
}
.App #content #main section article .body .description a {
  float: initial;
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  position: relative;
}
.App #content #main section article .body .description a::after {
  width: 100%;
  content: "";
  mix-blend-mode: darken;
  background: #ffe880;
  height: 7px;
  position: absolute;
  left: 0;
  bottom: 4px;
}
.App #content #main section article .body .description a:hover::after {
  width: 100%;
}
.App #content #main section article .body.more {
  text-align: center;
}
.App #content #side {
  width: 33.333333333333336%;
  padding-left: 1rem;
}
.App #content #side section {
  margin-bottom: 1.5rem;
}
.App #content #side section ul,
.App #content #side section p {
  padding-top: 0.25rem;
}
.App #content #side section ul:first-of-type,
.App #content #side section p:first-of-type {
  padding: 0;
}
.App #content #side section a {
  float: initial;
  color: #000;
  text-decoration: none;
}
.App #content #side section:last-of-type {
  margin-top: 11.75rem;
}
footer {
  width: 100%;
  padding-top: 4rem;
}
footer .main {
  float: left;
  width: 66.66666666666667%;
}
footer .main a {
  padding-left: 1rem;
  width: 75%;
  float: right;
  text-decoration: none;
  color: #000;
}
footer .side {
  float: right;
}
@media (max-width: 1139px) {
  body .App {
    border-width: 4px;
  }
}
@media (max-width: 1138px) {
  body .App {
    border-width: 3px;
  }
}
@media (max-width: 1137px) {
  body .App {
    border-width: 2px;
  }
}
@media (max-width: 1136px) {
  body .App {
    border-width: 1px;
  }
}
@media (max-width: 1135px) {
  body {
    padding-bottom: 10rem !important;
  }
  body .App {
    border-width: 0;
  }
  body .App button {
    display: block;
  }
  body .App #content #main {
    width: 100%;
  }
  body .App #content #side {
    float: right;
    width: 75%;
  }
  body .App #content #side section {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: translateX(-100%);
    padding-right: 2rem;
  }
  body .App #content #side section:last-of-type {
    margin-top: initial;
  }
}
@media (max-width: 780px) {
  body .App #content #main section h2 {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  body .App #content #main section article .body,
  body .App #content #main section article .date {
    width: 100%;
  }
  body .App #content #side {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: none;
  }
}
@media only screen and (max-device-width: 667px) {
  body .App {
    padding: 1.5rem 3.75rem 2.25rem 1.5rem;
  }
}
#galleryIndex {
  float: none;
  margin: 0rem auto 10rem;
  display: table;
}
#galleryIndex li,
#galleryIndex li a {
  text-decoration: none;
  line-height: 1.1;
  font-size: 5rem;
  font-weight: bold;
  color: #c05968;
  list-style-type: none;
  cursor: pointer;
}
#galleryIndex li:hover,
#galleryIndex li a:hover {
  color: #fff;
}
.gallery {
  background: #fafafa;
}
.gallery .banner {
  height: 100vh;
  width: 100%;
  background-image: url("../../public/bannerWikitongues.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.gallery .subnav {
  position: fixed;
  bottom: 0;
  right: 5rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  border-radius: 2px;
  float: right;
  padding: 2rem;
  width: 400px;
}
.gallery .subnav ul {
  list-style-type: none;
}
.gallery .subnav ul li {
  font-size: 2.5rem;
  margin: 1rem;
}
.gallery .subnav ul li a {
  text-decoration: none;
  color: #000;
  font-family: "adobe-garamond-pro", serif;
}
.gallery .content {
  width: 1140px;
  min-height: 100vh;
  padding: 6rem 23rem 6rem 6rem;
  margin: auto;
  color: #000;
}
.gallery .content h1 {
  font-family: "adobe-garamond-pro", serif;
  font-size: 6rem;
  color: #000;
  margin-bottom: 1rem;
}
.gallery .content .description {
  column-count: 2;
}
.gallery .content section {
  margin: 3rem;
}
.gallery .content section ul {
  list-style-type: none;
}
