#galleryIndex
  float none
  margin 0rem auto 10rem
  display table

  li, li a
    text-decoration none
    line-height 1.1
    font-size 5rem
    font-weight bold
    color #c05968
    list-style-type none
    cursor pointer

    &:hover
      color white

.gallery
  background #fafafa

  .banner
    height 100vh
    width 100%
    background-image url("../../public/bannerWikitongues.png")
    background-size 100%
    background-repeat no-repeat

  .subnav
    position fixed
    bottom 0
    right 5rem
    background white
    box-shadow 0 2px 4px rgba(0,0,0,.15)
    border-radius 2px
    float right
    padding 2rem
    width 400px

    ul
      list-style-type none

      li
        font-size 2.5rem
        margin 1rem

        a
          text-decoration none
          color black
          font-family "adobe-garamond-pro",serif

  .content
    width 1140px
    min-height 100vh
    padding 6rem 23rem 6rem 6rem
    margin auto
    color black

    h1
      font-family "adobe-garamond-pro",serif
      font-size 6rem
      color black
      margin-bottom 1rem

    .description
      column-count 2

    section
      margin 3rem

      ul
        list-style-type none