$width = 830px

h1.statement
  font-size 7rem
  font-size 24vh
  line-height 1
  max-width $width
  max-width 84vh
  margin 1vh 0
  float none
  display block

  span
    font-size 2rem
    font-size 4vh
    text-align center
    margin-top 8vh
    width 100%
    font-style italic

.toggleType
  display none
  float left
  position absolute
  right 4rem
  top 4rem
  border 2px solid $red
  color $red
  width 240px

  h3
    font-family $sans
    margin 0 auto
    display block
    float initial
    padding 1.5rem 0
    text-align center
    border-bottom 2px solid $red

    &::before
      content ""

  fieldset
    border none
    margin 0

    input
      display none

    input:checked + label
      &::after
        width 106%
        background-color $pink

    label
      clear both
      float left
      font-size 1.3rem
      font-family $sans
      line-height 2
      position relative
      cursor pointer

      &:hover
        &::after
          width 106%

      &::after
        pointer-events none
        width 0
        content ""
        mix-blend-mode darken
        background-color #ffc6c1
        height 9px
        position absolute
        left -3%
        top 14px
        transition width 100ms ease-out

#galleryIndex
  width $width
  float none
  margin 0rem auto 5rem
  display table

  .breadcrumb
    margin 9vh 0
    display block
    position relative
    font-style italic
    color $red
    float none
    clear both
    font-size 2rem
    font-size 4vh

  li, li a
    text-decoration none
    line-height 1.1
    font-size 5rem
    font-weight bold
    color $red
    list-style-type none
    cursor pointer
    position relative

    &::after
      width 0
      content ""
      mix-blend-mode darken
      background-color $pink
      height 30px
      position absolute
      left -3%
      top 30px
      pointer-events none
      transition width 150ms ease-out

    &:hover
      &::after
        width 106%

    &.extras
      &.first
        margin-top 5vh

      a
        font-size 3rem
        font-style italic

        span
          float none
          font-size 1.3rem

    &.extras,
    &.extras a
      &::after
        top 15px
        height 20px

footer.index
  width $width
  float none
  margin 0rem auto
  display table
  color $red
  bottom 1rem

  p
    font-size .8rem
    line-height 1.2

    a
      line-height 1.2
      float initial
      color $red
      text-decoration none
      font-variant small-caps
      position relative

      &::after
        width 95%
        content ""
        mix-blend-mode darken
        background-color #ffada8
        position absolute
        left 4px
        top 7px
        height 6px
        transition background-color 150ms ease-in-out

      &:hover
        &::after
          background-color #f79999
