@font-face
    font-family 'governorregular'
    src url('../fonts/governor-webfont.woff2') format('woff2'),
         url('../fonts/governor-webfont.woff') format('woff')
    font-weight normal
    font-style normal

$sans = 'governorregular'
$yellow = #ffd000
$red = #C50F18
$blue = #4799FC
$base = #ffede6

gradient()
  background $base
  background -webkit-linear-gradient(-135deg, $base, darken($base,5%))
  background linear-gradient(-135deg, $base, darken($base,5%))