@font-face
    font-family 'governorregular'
    src url('../fonts/governor-webfont.woff2') format('woff2'),
         url('../fonts/governor-webfont.woff') format('woff')
    font-weight normal
    font-style normal

$sans = 'governorregular'
$sans1 = "europa", sans-serif
$serif = "adobe-garamond-pro",serif

// $yellow = #FFD000
$red = #C05968
$darkRed = #21000b
$linkRed = #ffada8
$blue = #4799FC
$copy = #002b70
$base = #FFEDE6
$pink = #FF006A
$grey =  darken(#948E8E,25%)
$purple = #6C5AB7

gradient()
  background-color $base
  background -webkit-linear-gradient(-135deg, $base, darken($base,5%))
  background linear-gradient(-135deg, $base, darken($base,5%))

centerX()
  position absolute
  left 50%
  transform translateX(-50%)