@font-face
    font-family 'governorregular'
    src url('../fonts/governor-webfont.woff2') format('woff2'),
         url('../fonts/governor-webfont.woff') format('woff')
    font-weight normal
    font-style normal

$sans = 'governorregular'
// $sans1 = "mr-eaves-xl-sans-narrow", sans-serif
$sans1 = "cronos-pro-caption",sans-serif
$serif = "adobe-garamond-pro",serif
$yellow = #FFD000
$red = #C05968
$blue = #4799FC
$base = #FFEDE6
$pink = #FF006A

gradient()
  background-color $base
  background -webkit-linear-gradient(-135deg, $base, darken($base,5%))
  background linear-gradient(-135deg, $base, darken($base,5%))

centerX()
  position absolute
  left 50%
  transform translateX(-50%)