@media (max-width: 1139px) {
  body .App {
    border-width: 4px;
  }
}
@media (max-width: 1138px) {
  body .App {
    border-width: 3px;
  }
}
@media (max-width: 1137px) {
  body .App {
    border-width: 2px;
  }
}
@media (max-width: 1136px) {
  body .App {
    border-width: 1px;
  }
}
@media (max-width: 1135px) {
  body {
    padding-bottom: 10rem !important;
  }
  body .App {
    border-width: 0;
  }
  body .App nav {
    position: fixed;
    right: 1.75rem;
  }
  body .App #content #main {
    width: 100%;
  }
  body .App #content #side {
    float: right;
    width: 75%;
  }
  body .App #content #side section {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: translateX(-100%);
    padding-right: 2rem;
  }
  body .App #content #side section:last-of-type {
    margin-top: initial;
  }
}
@media (max-width: 780px) {
  body .App nav button {
    display: block;
  }
  body .App #content #main section h2 {
    text-align: left;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  body .App #content #main section article .body,
  body .App #content #main section article .date {
    width: 100%;
  }
  body .App #content #side {
    width: 100%;
  }
  body .App #content #side section h2 {
    transform: none;
  }
}
